@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

body {
  background-color: $cyanBackground;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  main {
    margin: 50px 120px 20px 120px;
  }
}
